<div class="modal-header">
    <h3 class="modal-title">
        {{$ctrl.header}}
    </h3>
</div>
<form name="form" class="form-horizontal" novalidate>
    <div class="modal-body">
        <div class="form-group"
             ng-class="{'has-error': form.name.$dirty && form.name.$invalid}">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('NAME')}}</label>
            <div class="col-sm-8 col-md-6">
                <input name="name" type="text" class="form-control" ng-model="$ctrl.app.name" required>
            </div>
            <p class="col-sm-8 col-md-6 col-md-offset-2 col-sm-offset-4 help-block"
               ng-class="{'invisible': !(form.name.$error.required && form.name.$dirty)}">
                {{$ctrl.labelsService.getLabel('FIELD_REQUIRED')}}
            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('APP_TYPE')}}</label>
            <div class="col-sm-8 col-md-6">
                <select name="appType" class="form-control" required
                        ng-options="item for item in $ctrl.appTypes"
                        ng-model="$ctrl.app.appType">
                </select>
                <p class="col-sm-8 col-md-6 col-md-offset-2 col-sm-offset-4 help-block"
                   ng-class="{'invisible': !(form.appType.$error.required && form.appType.$dirty)}">
                    {{$ctrl.labelsService.getLabel('FIELD_REQUIRED')}}
                </p>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': form.name.$dirty && form.name.$invalid}">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('CONTENT_TYPE')}}</label>
            <div class="col-sm-8 col-md-6">
                <label class="checkbox-inline" ng-repeat="contentType in $ctrl.contentTypes">
                    <input name="name" type="checkbox" ng-model="$ctrl.contentTypesSelected[contentType.id]">
                    {{contentType.contentTypeName}}
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()"
                    ng-disabled="form.$invalid">{{$ctrl.labelsService.getLabel('OK')}}
            </button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">
                {{$ctrl.labelsService.getLabel('CANCEL')}}
            </button>
        </div>
</form>
