<div class="GridTable">
    <div class="GridTable__buttonPanel">
        <button class="btn" ng-click="$ctrl.onAdd()" ng-show="$ctrl.canAdd">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th ng-repeat="header in $ctrl.headers">
                {{header}}
            </th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        <tr ng-repeat="item in $ctrl.data">
            <td ng-repeat="key in $ctrl.valueKeys">
                {{$ctrl.getValue(item.target, key)}}
            </td>
            <td>
                <button type="button" class="btn" ng-click="$ctrl.onAction({index: $index, action: 'UPDATE'})" ng-show="item.isEditable">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn" ng-click="$ctrl.onAction({index: $index, action: 'DELETE'})" ng-show="item.isDeletable">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>

        </tbody>
    </table>

</div>