<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-default"
     th:with="menuItems=${#request.getAttribute(T(com.dpoletaev.loopme.web.AppAttributes).MENU_ITEMS.value())}">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li th:each="item : ${menuItems}" th:classappend="${item.selected ? 'active' : ''}">
                <a class="nav-link"
                   th:attr="href=${item.url}"
                   th:text="${item.label}">
                </a>
            </li>
        </ul>
        <form class="navbar-form navbar-right" method="POST"
              action="/logout">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="btn btn-default">Logout</button>
        </form>
    </div>
</nav>
</html>