<div>
    <grid-table data="$ctrl.users"
                value-keys="$ctrl.dataKeys"
                header-keys="$ctrl.headerKeys"
                can-add="$ctrl.canAdd"
                on-add="$ctrl.onAdd()"
                on-action="$ctrl.onAction({index: index, action: action})"
    </grid-table>
</div>