<div class="modal-header">
    <h3 class="modal-title">
        {{$ctrl.header}}
    </h3>
</div>
<form name="form" class="form-horizontal" novalidate>
    <div class="modal-body">
        {{$ctrl.user.name}}
        <div class="form-group"
        ng-class="{'has-error': form.name.$dirty && form.name.$invalid}">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('NAME')}}</label>
            <div class="col-sm-8 col-md-6">
                <input name="name" type="text" class="form-control" ng-model="$ctrl.user.name" required>
            </div>
            <p class="col-sm-8 col-md-6 col-md-offset-2 col-sm-offset-4 help-block"
               ng-class="{'invisible': !(form.name.$error.required && form.name.$dirty)}">
                {{$ctrl.labelsService.getLabel('FIELD_REQUIRED')}}
            </p>
        </div>
        <div class="form-group"
             ng-class="{'has-error': form.email.$dirty && form.email.$invalid}">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('EMAIL')}}</label>
            <div class="col-sm-8 col-md-6">
                <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email">

            </div>
            <p class="col-sm-8 col-md-6 col-md-offset-2 col-sm-offset-4 help-block"
               ng-class="{'invisible': !(form.email.$error.email && form.email.$dirty)}">
                {{$ctrl.labelsService.getLabel('EMAIL_INVALID')}}
            </p>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-md-2 control-label">{{$ctrl.labelsService.getLabel('ROLE')}}</label>
            <div class="col-sm-8 col-md-6">
                <select name="role" class="form-control"
                ng-options="item as item.name for item in $ctrl.userRoles track by item.id"
                ng-model="$ctrl.user.role">
                </select>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="$ctrl.ok()"
                ng-disabled="form.$invalid">{{$ctrl.labelsService.getLabel('OK')}}
        </button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">
            {{$ctrl.labelsService.getLabel('CANCEL')}}
        </button>
    </div>
</form>
